In [50]:
import pandas as pd

# Read the box score data
df = pd.read_csv('/content/nba_games (1) (1).csv')

In [42]:
df

,id,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,won
0,0,240,240,39,81,0.481,6,20,0.300,14,...,4.9,4.4,22.8,29.0,178,111,DAL,95,1,True
1,1,240,240,36,100,0.360,7,31,0.226,16,...,4.3,6.2,50.0,32.6,152,111,ATL,98,0,False
2,2,240,240,37,85,0.435,8,19,0.421,17,...,4.5,7.6,20.0,30.9,148,116,SAS,107,1,False
3,3,240,240,41,89,0.461,8,21,0.381,17,...,3.8,5.0,28.6,30.9,138,118,MIN,99,0,True
4,4,240,240,27,86,0.314,6,26,0.231,15,...,5.5,11.3,16.8,30.9,157,90,MEM,92,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,17767,240,240,35,81,0.432,11,26,0.423,27,...,3.3,6.3,34.2,33.7,160,118,OKC,92,0,True
17768,17768,240,240,37,74,0.500,13,25,0.520,26,...,3.8,3.8,25.0,30.0,139,129,ORL,108,1,True
17769,17769,240,240,42,89,0.472,14,33,0.424,10,...,7.2,7.4,25.6,29.9,175,126,LAC,113,0,False
17770,17770,240,240,41,85,0.482,9,26,0.346,26,...,3.8,6.4,27.7,27.1,150,126,MIA,106,1,True
17771,17771,240,240,33,85,0.388,12,44,0.273,28,...,5.3,4.8,51.5,36.2,141,114,BOS,117,0,False

In [43]:
# Perform data preprocessing steps
# Handle missing values
df = df.dropna(axis=1)

# Encode categorical variables
#df = pd.get_dummies(df)

# Normalize numerical features (if necessary)
# ...

In [52]:
df

,id,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,won
0,0,240,240,39,81,0.481,6,20,0.300,14,...,4.9,4.4,22.8,29.0,178,111,DAL,95,1,True
1,1,240,240,36,100,0.360,7,31,0.226,16,...,4.3,6.2,50.0,32.6,152,111,ATL,98,0,False
2,2,240,240,37,85,0.435,8,19,0.421,17,...,4.5,7.6,20.0,30.9,148,116,SAS,107,1,False
3,3,240,240,41,89,0.461,8,21,0.381,17,...,3.8,5.0,28.6,30.9,138,118,MIN,99,0,True
4,4,240,240,27,86,0.314,6,26,0.231,15,...,5.5,11.3,16.8,30.9,157,90,MEM,92,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,17767,240,240,35,81,0.432,11,26,0.423,27,...,3.3,6.3,34.2,33.7,160,118,OKC,92,0,True
17768,17768,240,240,37,74,0.500,13,25,0.520,26,...,3.8,3.8,25.0,30.0,139,129,ORL,108,1,True
17769,17769,240,240,42,89,0.472,14,33,0.424,10,...,7.2,7.4,25.6,29.9,175,126,LAC,113,0,False
17770,17770,240,240,41,85,0.482,9,26,0.346,26,...,3.8,6.4,27.7,27.1,150,126,MIA,106,1,True
17771,17771,240,240,33,85,0.388,12,44,0.273,28,...,5.3,4.8,51.5,36.2,141,114,BOS,117,0,False

In [53]:
# Check for null values
null_values = df.isnull().sum()
print(null_values)

id              0
mp              0
mp.1            0
fg              0
fga             0
               ..
drtg_max_opp    0
team_opp        0
total_opp       0
home_opp        0
won             0
Length: 149, dtype: int64

In [56]:
# Check for missing values
missing_values = df.isna().sum()
print(missing_values)

id              0
mp              0
mp.1            0
fg              0
fga             0
               ..
drtg_max_opp    0
team_opp        0
total_opp       0
home_opp        0
won             0
Length: 149, dtype: int64

In [59]:
# Drop multiple columns
#columns_to_drop = ['season','won']
#df = df.drop(columns_to_drop, axis=1)

In [60]:
# df

In [10]:
# Get all column names
columns = df.columns

# Print the column names
print(columns)

Index(['id', 'mp', 'mp.1', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft',
       ...
       'stl%_max_opp', 'blk%_max_opp', 'tov%_max_opp', 'usg%_max_opp',
       'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp', 'home_opp',
       'won'],
      dtype='object', length=143)

In [47]:
# Iterate over all columns
#for column in df.columns:
 #   # Create a new DataFrame with a single column
  #  column_df = df[[column]]

    # Display the column DataFrame
   # print(column_df)

In [11]:
# Selecting columns I am interested in
#columns = ['np','np.1','fg','fga','fg%','price']
df = df.loc[:, columns]
df.head(10)

,id,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,won
0,0,240,240,39,81,0.481,6,20,0.300,14,...,4.9,4.4,22.8,29.0,178,111,DAL,95,1,True
1,1,240,240,36,100,0.360,7,31,0.226,16,...,4.3,6.2,50.0,32.6,152,111,ATL,98,0,False
2,2,240,240,37,85,0.435,8,19,0.421,17,...,4.5,7.6,20.0,30.9,148,116,SAS,107,1,False
3,3,240,240,41,89,0.461,8,21,0.381,17,...,3.8,5.0,28.6,30.9,138,118,MIN,99,0,True
4,4,240,240,27,86,0.314,6,26,0.231,15,...,5.5,11.3,16.8,30.9,157,90,MEM,92,1,False
5,5,240,240,34,99,0.343,11,39,0.282,13,...,4.8,13.8,33.9,27.2,106,106,ORL,75,0,True
6,6,240,240,35,83,0.422,9,24,0.375,12,...,5.3,5.6,33.3,30.9,171,105,MIN,107,1,False
7,7,240,240,42,86,0.488,5,20,0.250,18,...,7.1,2.8,32.0,32.4,158,126,LAC,91,0,True
8,8,240,240,44,87,0.506,10,23,0.435,27,...,1.6,9.3,22.5,38.2,179,140,DAL,121,1,True
9,9,240,240,39,77,0.506,15,45,0.333,28,...,3.1,4.3,23.7,31.4,188,136,SAC,125,0,False

In [12]:
#columns_to_drop = ['season','date','won']
#df = df.drop(columns_to_drop, axis=1)

In [13]:
df

,id,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,won
0,0,240,240,39,81,0.481,6,20,0.300,14,...,4.9,4.4,22.8,29.0,178,111,DAL,95,1,True
1,1,240,240,36,100,0.360,7,31,0.226,16,...,4.3,6.2,50.0,32.6,152,111,ATL,98,0,False
2,2,240,240,37,85,0.435,8,19,0.421,17,...,4.5,7.6,20.0,30.9,148,116,SAS,107,1,False
3,3,240,240,41,89,0.461,8,21,0.381,17,...,3.8,5.0,28.6,30.9,138,118,MIN,99,0,True
4,4,240,240,27,86,0.314,6,26,0.231,15,...,5.5,11.3,16.8,30.9,157,90,MEM,92,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,17767,240,240,35,81,0.432,11,26,0.423,27,...,3.3,6.3,34.2,33.7,160,118,OKC,92,0,True
17768,17768,240,240,37,74,0.500,13,25,0.520,26,...,3.8,3.8,25.0,30.0,139,129,ORL,108,1,True
17769,17769,240,240,42,89,0.472,14,33,0.424,10,...,7.2,7.4,25.6,29.9,175,126,LAC,113,0,False
17770,17770,240,240,41,85,0.482,9,26,0.346,26,...,3.8,6.4,27.7,27.1,150,126,MIA,106,1,True
17771,17771,240,240,33,85,0.388,12,44,0.273,28,...,5.3,4.8,51.5,36.2,141,114,BOS,117,0,False

In [14]:
# Convert the Index object to a list
#column_list = df.columns.tolist()

# Iterate over the column names
#for column in column_list:
 #   print(column)
x = df

In [15]:
x

,id,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,won
0,0,240,240,39,81,0.481,6,20,0.300,14,...,4.9,4.4,22.8,29.0,178,111,DAL,95,1,True
1,1,240,240,36,100,0.360,7,31,0.226,16,...,4.3,6.2,50.0,32.6,152,111,ATL,98,0,False
2,2,240,240,37,85,0.435,8,19,0.421,17,...,4.5,7.6,20.0,30.9,148,116,SAS,107,1,False
3,3,240,240,41,89,0.461,8,21,0.381,17,...,3.8,5.0,28.6,30.9,138,118,MIN,99,0,True
4,4,240,240,27,86,0.314,6,26,0.231,15,...,5.5,11.3,16.8,30.9,157,90,MEM,92,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,17767,240,240,35,81,0.432,11,26,0.423,27,...,3.3,6.3,34.2,33.7,160,118,OKC,92,0,True
17768,17768,240,240,37,74,0.500,13,25,0.520,26,...,3.8,3.8,25.0,30.0,139,129,ORL,108,1,True
17769,17769,240,240,42,89,0.472,14,33,0.424,10,...,7.2,7.4,25.6,29.9,175,126,LAC,113,0,False
17770,17770,240,240,41,85,0.482,9,26,0.346,26,...,3.8,6.4,27.7,27.1,150,126,MIA,106,1,True
17771,17771,240,240,33,85,0.388,12,44,0.273,28,...,5.3,4.8,51.5,36.2,141,114,BOS,117,0,False

In [17]:

# Split the dataset into features (X) and target variable (y)
#X = dataset.drop('target_variable', axis=1)  # Update with the actual target variable column name
# Drop multiple columns
#columns_to_drop = ['season','won']
#X = df.drop(columns_to_drop, axis=1)

columns_to_drop = ['won','id','team','team_opp']
X = df.drop(columns_to_drop, axis=1)

#y = df['target_variable']

In [64]:
#X=df[0:-1]

In [18]:
#X = df.iloc[:, :-1]

In [19]:
X

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,trb%_max_opp,ast%_max_opp,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp
0,240,240,39,81,0.481,6,20,0.300,14,18,...,22.0,31.0,4.9,4.4,22.8,29.0,178,111,95,1
1,240,240,36,100,0.360,7,31,0.226,16,19,...,21.7,26.5,4.3,6.2,50.0,32.6,152,111,98,0
2,240,240,37,85,0.435,8,19,0.421,17,23,...,24.5,25.4,4.5,7.6,20.0,30.9,148,116,107,1
3,240,240,41,89,0.461,8,21,0.381,17,19,...,19.7,37.1,3.8,5.0,28.6,30.9,138,118,99,0
4,240,240,27,86,0.314,6,26,0.231,15,20,...,24.5,47.4,5.5,11.3,16.8,30.9,157,90,92,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,240,35,81,0.432,11,26,0.423,27,36,...,25.9,41.5,3.3,6.3,34.2,33.7,160,118,92,0
17768,240,240,37,74,0.500,13,25,0.520,26,37,...,23.0,49.1,3.8,3.8,25.0,30.0,139,129,108,1
17769,240,240,42,89,0.472,14,33,0.424,10,20,...,26.6,51.1,7.2,7.4,25.6,29.9,175,126,113,0
17770,240,240,41,85,0.482,9,26,0.346,26,30,...,22.1,28.5,3.8,6.4,27.7,27.1,150,126,106,1
17771,240,240,33,85,0.388,12,44,0.273,28,34,...,36.2,30.7,5.3,4.8,51.5,36.2,141,114,117,0

In [20]:
X.ndim

2

In [21]:
#y = df.iloc["won"]
# Select a column as the target variable (y)
#target_column = 'won'  # Specify the name of the column you want to select as the target variable
#y = df.loc[ :,"won"]
y = df.loc[:, ['won']]

#y = df.iloc[:, -1]

In [22]:
y

         won
0       True
1      False
2      False
3       True
4      False
...      ...
17767   True
17768   True
17769  False
17770   True
17771  False

[17772 rows x 1 columns]

In [23]:
y.ndim

2

In [24]:
# Print the shape of X and y
print('Shape of X:', X.shape)
print('Shape of y:', y.shape)

Shape of X: (17772, 139)
Shape of y: (17772, 1)

In [25]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [26]:
# Import necessary libraries for model selection
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Initialize the models
logistic_regression = LogisticRegression()
random_forest = RandomForestClassifier()
gradient_boosting = GradientBoostingClassifier()

In [28]:
# Train the models
logistic_regression.fit(X_train, y_train)
random_forest.fit(X_train, y_train)
gradient_boosting.fit(X_train, y_train)

# Evaluate the models
logistic_regression_score = logistic_regression.score(X_test, y_test)
random_forest_score = random_forest.score(X_test, y_test)
gradient_boosting_score = gradient_boosting.score(X_test, y_test)

print("Logistic Regression Accuracy:", logistic_regression_score)
print("Random Forest Accuracy:", random_forest_score)
print("Gradient Boosting Accuracy:", gradient_boosting_score)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
<ipython-input-28-573edf064edf>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_forest.fit(X_train, y_train)
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression Accuracy: 0.9989769820971867
Random Forest Accuracy: 0.9892583120204603
Gradient Boosting Accuracy: 0.9838022165387894

In [29]:
# Compare model performance
if logistic_regression_score > random_forest_score and logistic_regression_score > gradient_boosting_score:
    best_model = logistic_regression
    best_model_name = "Logistic Regression"
elif random_forest_score > logistic_regression_score and random_forest_score > gradient_boosting_score:
    best_model = random_forest
    best_model_name = "Random Forest"
else:
    best_model = gradient_boosting
    best_model_name = "Gradient Boosting"

print("Best Model:", best_model_name)

Best Model: Logistic Regression